extends ../../common-templates/layout

block content
  p.alert.alert-success You have successfully registered!
  p Check your email for a link to confirm your email address
  p: a(href="/auth/log-in") Log in